@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
 }

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center; 
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.swiper {
  margin-left: auto;
  margin-right: auto;
}

.apexcharts-toolbar{
  left: 7px !important;
  right: unset !important;
}

.rmdp-input { 
  text-align: center; 
  padding: 17px 5px;
}

.swal-footer{
  text-align: center;
}